<form name="editProjectForm">
  <fieldset ng-disabled="disableInputs">
    <div class="form-group">
      <label for="displayName">Display Name</label>
      <input class="form-control input-lg"
             name="displayName"
             id="displayName"
             placeholder="My Project"
             type="text"
             ng-model="editableFields.displayName">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
                    <textarea class="form-control input-lg"
                              name="description"
                              id="description"
                              placeholder="A short description."
                              ng-model="editableFields.description"></textarea>
    </div>

    <div class="button-group">
      <button type="submit"
              class="btn btn-primary btn-lg"
              ng-class="{'dialog-btn': isDialog}"
              ng-click="update()"
              ng-disabled="editProjectForm.$invalid || disableInputs"
              value="">{{submitButtonLabel}}</button>
      <button
          class="btn btn-default btn-lg"
          ng-class="{'dialog-btn': isDialog}"
          ng-click="cancelEditProject()">
        Cancel
      </button>
    </div>
  </fieldset>
</form>
